<h2 id="title"><a href="http://jhawk.co/ember-unauthorized" target="_blank">Ember-Unauthorized</a> Demo</h2>

{{#link-to 'index.foo'}}Feature-Enabled Route{{/link-to}}
{{#link-to 'index.bar'}}Feature-Disabled Route{{/link-to}}
{{#link-to 'index.bat'}}Authorized Route{{/link-to}}
{{#link-to 'admin'}}Unauthorized Route{{/link-to}}

{{outlet}}